/* Resets and base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #1B2432;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
  }
  
  /* Logo styles */
  .logo {
    font-size: 30px;
    font-family: 'Anonymous Pro', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
  }
  
  /* Navigation menu link styles */
  .navLink {
    padding: 10px 20px;
    background-image: linear-gradient(180deg, #ffa48d, #ff4e98);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .navLink:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  /* Hamburger menu icon styles */
  .hamburger {
    display: none; /* Hidden by default; will be shown in media query */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Width of the hamburger icon */
    height: 25px; /* Height of the hamburger icon */
  }
  
  .bar {
    background-image: linear-gradient(90deg, #fff7ad, #ffa9f9);
    width: 100%;
    height: 3px;
    transition: 0.3s ease-in-out;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 780px) {
    .hamburger {
      display: flex; /* Show the hamburger menu on mobile devices */
    }
  
    .navMenu {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%; /* Full width */
      background-color: #1B2432;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      padding-top: 60px; /* Add some padding at the top */
    }
  
    .navMenu.active {
      transform: translateX(0); /* When active, slide in the nav menu */
    }
  
    .navLink {
      display: block;
      width: 100%; /* Full width links */
    }
  
    /* Styling for the active state of the hamburger bars to create an 'X' icon */
    .hamburger.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }
  