.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  
  padding: 50px;
  background: linear-gradient(-140deg, #974EC3 5%, #1B2432 38%);
  
}
.registration h1{
  font-family:'Brush Script MT', 'Brush Script Std', cursive;
  color:#F0ECE5;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
  font-size: 50px;
 
}

.registration .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  max-width: 600px;
  
}
.registration .submitButton{
  display:flex;
  justify-content: center;
  padding:20px 0;
}


.registration .submitButton button{
  padding: 10px 20px; 
  text-align: center; 
  background-image: linear-gradient(180deg, #ffa48d, #ff4e98); 
  color: white; 
  font-weight: bold; 
  border: none; 
  border-radius: 25px; 
  text-decoration: none; 
  display:inline-block; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
  cursor: pointer;
  outline: none;
  
}

.registration button:hover {
  box-shadow: 0 5px 10px #7C93C3;
  transform: scale(1.05); /* Slightly increase size on hover */
}

.registration input {
  width: calc(50% - 10px); 
  padding: 9px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 2px 7px #80185F;
  margin-bottom: 30px; /* Spacing between input fields */
  display: flex;
  
}
/*to be determined*/
.registration input:hover {
  box-shadow: 0 5px 10px #7C93C3;
  transform: scale(1.05); /* Slightly increase size on hover */
}


.landing {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1B2432
}

.signIn {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1B2432
}

.signIn .circle1{
  width: 450px;
  height:450px;
  border-radius: 50%; /*make it round*/
  border: 1.5px solid #675E9C; 
  background-color: transparent;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.signIn .circle2{
  width: 450px;
  height:450px;
  border-radius: 50%; /*make it round*/
  border: 1.5px solid #675E9C; 
  background-color: transparent;
  position:absolute;
  top:48%;
  left:50%;
  transform: translate(-50%, -50%);
}
